/* home-styles.css - Shared styles for home page components */

/* Background grid */
.dot-grid {
    background-image: radial-gradient(circle, #333 1px, transparent 1px);
    background-size: 30px 30px;
}

/* L decoration for the corners - Large version */
.l-decoration {
    position: absolute;
    width: 60px;
    height: 60px;
}

.l-decoration::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #F7DE3D;
    left: 0;
    top: 0;
}

.l-decoration::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #F7DE3D;
    left: 0;
    top: 0;
}

.l-decoration-reversed {
    position: absolute;
    width: 60px;
    height: 60px;
}

.l-decoration-reversed::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #F7DE3D;
    right: 0;
    bottom: 0;
}

.l-decoration-reversed::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #F7DE3D;
    right: 0;
    bottom: 0;
}

/* Smaller L decorations */
.l-decoration-small {
    position: absolute;
    width: 30px;
    height: 30px;
}

.l-decoration-small::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #F7DE3D;
    left: 0;
    top: 0;
}

.l-decoration-small::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F7DE3D;
    left: 0;
    top: 0;
}

.l-decoration-small-reversed {
    position: absolute;
    width: 30px;
    height: 30px;
}

.l-decoration-small-reversed::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #F7DE3D;
    right: 0;
    bottom: 0;
}

.l-decoration-small-reversed::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F7DE3D;
    right: 0;
    bottom: 0;
}

.l-decoration-small-reversed.top-right::before {
    right: 0;
    top: 0;
}

.l-decoration-small-reversed.top-right::after {
    right: 0;
    top: 0;
}

/* Section title bar with effect */
.section-title-bar {
    width: 80px;
    height: 3px;
    background-color: #F7DE3D;
    position: relative;
    margin-top: 10px;
}

.section-title-bar::before {
    content: '';
    position: absolute;
    left: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    border-left: 3px solid #F7DE3D;
    border-top: 3px solid #F7DE3D;
}

.section-title-bar::after {
    content: '';
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    border-right: 3px solid #F7DE3D;
    border-top: 3px solid #F7DE3D;
}

/* Background colors */
.bg-black {
    background-color: #000;
}

.bg-gray-900 {
    background-color: #111;
}

.bg-gray-800 {
    background-color: #222;
}

/* Yellow theme colors */
.text-yellow-400 {
    color: #F7DE3D;
    /* Jaune plus clair */
}

.bg-yellow-400 {
    background-color: #F7DE3D;
    /* Jaune plus clair */
}

.bg-yellow-300 {
    background-color: #FDE68A;
    /* Jaune encore plus clair pour hover */
}

.border-yellow-400 {
    border-color: #F7DE3D;
    /* Jaune plus clair */
}

/* Animations */
@keyframes borderPulse {
    0% {
        border-color: #F7DE3D;
    }

    50% {
        border-color: #FDE68A;
    }

    100% {
        border-color: #F7DE3D;
    }
}

/* Transition between sections */
section {
    position: relative;
    transition: background-color 0.8s ease;
}